<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
  </head>
  <body>

  <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="img/small-logo.svg" class="image">
      <div class="content">
        Register for an account
      </div>
    </h2>
    <form class="ui large form" action="/account/create" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="phone icon"></i>
            <input type="text" name="phoneNumber" placeholder="(555)-132-2121">
          </div>
        </div>
        <div class="field">
          <select name="usertype" class="ui fluid dropdown">
            <option value="">Type</option>
              <option value="Requester">Requester</option>
              <option value="Seeker">Seeker</option>
          </select>
        </div>
        <img id="uploaded-image">
        <input type="hidden" name="image" id="encodedImage" />
        <script>
            var loadFile = function(event) {
                var output = document.getElementById('uploaded-image');
                output.src = URL.createObjectURL(event.target.files[0]);
                test = event.target.files[0];
                var reader = new FileReader();
                reader.addEventListener("load", function () {
                    $('#encodedImage').val(reader.result);
                }, false);
                reader.readAsDataURL(event.target.files[0]);
            };
        </script>
        <input class="input2" type="file" name="imagestuff" onchange="loadFile(event)">
        <button class="ui fluid large teal submit button">Register</button>
      </div>
      <% if (error) { %>
      <div class = "ui error message"><%= error %></div>
      <% } %>
    </form>

    <div class="ui message">
      Already have an account? <a href="/login">Log In</a>
    </div>
  </div>
</div>
  </body>

    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</html>
