<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Account Details</title>
  </head>
  <body>
    <h2>Account Details</h2>

    Name: <%= user.name %> <br>
    Email: <%= user.email %> <br>
    Phone: <%= user.phoneNumber %> <br>

  </body>
</html>
