<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <% jobs.forEach (function(job) { %>

      <h1><%= job.title %></h1>

    <% }); %>


  </body>
</html>
