<!DOCTYPE HTML>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Community Jobs</title>

<!-- Behavioral Meta Data -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="img/small-logo-01.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/sort.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANNoWpcaXbtXtxCOs5g0RSQfZpRqygsfw&libraries=places"></script>


</head>

<body>

<a name="ancre"></a>

<!-- CACHE -->
<div class="cache"></div>

<!-- HEADER -->

<div id="wrapper-header">
	<div id="main-header" class="object">
		<div class="logo">
            Co.unity - <span id="title-description">helping your community help you</span>
<!--            <img src="/img/new/logo.svg" alt="logo platz" style="height: 20%;">-->

        </div>


        <div id="main_tip_search">
			<form>
				<input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required>
			</form>
		</div>

        <div id="stripes"></div>
        <a href="add-job.html"><button id="new-job" class="button">Add a job</button></a>
    </div>
</div>

<!-- NAVBAR -->

<div id="wrapper-navbar">
		<div class="navbar object">
    		<div id="wrapper-sorting">
            <div id="wrapper-title-1">
                <div id="relevance-button" class="relevance object active" onClick="sortJobs(SortType.relevance)">Distance &#8594;</div>
            	<div id="fleche-nav-1"></div>
    		</div>

            <div id="wrapper-title-2">
                <a href="#"><div id="recent-button" class="recent object inactive" onClick="sortJobs(SortType.recent)">Recent &#8594;</div></a>
                <div id="fleche-nav-2"></div>
    		</div>

            <div id="wrapper-title-3">
                <a href="#"><div id="money-button" class="money object inactive" onClick="sortJobs(SortType.price)">&euro;&euro;&euro; - &euro; &#8594;</div></a>
                <div id="fleche-nav-3"></div>
    		</div>
            </div>
            <div id="wrapper-bouton-icon">
              <div class="slidecontainer">
                <input type="range" style="float: right; margin-top: 23px;" min="1" max="50" value="20" class="slider" id="radius">
                <div class="relevance object active" style="float:right;text-transform:none;"><span id="radius-label">20</span>km</div>
              </div>
			</div>
    	</div>
    </div>

<!-- FILTER -->

	<div id="main-container-menu" class="object">
    <div class="container-menu">

      <div id="main-cross">
        <div id="cross-menu"></div>
      </div>

      <div id="main-small-logo">
        <div class="small-logo"></div>
      </div>

      <div id="main-premium-ressource">
        <div class="premium-ressource"><a href="#">Premium resources</a></div>
      </div>

      <div id="main-themes">
        <div class="themes"><a href="#">Latest themes</a></div>
      </div>

      <div id="main-psd">
        <div class="psd"><a href="#">PSD goodies</a></div>
      </div>

      <div id="main-ai">
        <div class="ai"><a href="#">Illustrator freebies</a></div>
      </div>

      <div id="main-font">
        <div class="font"><a href="#">Free fonts</a></div>
      </div>

      <div id="main-photo">
        <div class="photo"><a href="#">Free stock photos</a></div>
      </div>
        </div>
    </div>


<!-- PORTFOLIO -->

<div id="wrapper-hero">
    <section class="work" style="width: 100%;max-width: 600px">
      <figure class="white" style="max-width: 600px; width: 100%; margin: auto 0;">
        <input id="location-text" type="text" placeholder="Roma, Italia" style="width: 100%; border: none; font-size: 20px; padding: 20px;" />
      </figure>
    </section>
</div>


	<div id="wrapper-container">
    <div class="container object">
			<div id="main-container-image">

					<section class="work" id="job-container">
            <!-- Populated by AJAX request -->
					</section>

				</div>

			</div>

    <div id="wrapper-oldnew">
    	<div class="oldnew">
        	<div class="wrapper-oldnew-prev">
            	<div id="oldnew-prev"></div>
        	</div>
            <div class="wrapper-oldnew-next">
            	<div id="oldnew-next"></div>
    		</div>
        </div>
	</div>

	<div id="wrapper-thank">
    	<div class="thank">
        	<div class="thank-text">t<span style="letter-spacing:-5px;">e</span>st</div>
    	</div>
	</div>

	<div id="main-container-footer">
		<div class="container-footer">

            <div id="row-1f">
            	<div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">What we do</span><br>We aim to foster social inclusion within our local communities by providing temporary jobs to those who need them.</div>
            </div>

            <div id="row-2f">
            	<div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">See a job you like?</span><br>Claim it and complete it, and you'll get a gift card for your the great work you did!</div>
            </div>

            <div id="row-3f">
            	<div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Need a job done?</span><br>Create a job and someone in your community will be at your aid!</div>
            </div>

            <div id="row-4f">
            	<div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Newsletter</span><br>You will be informed monthly about the latest content avalaible.</div>

				<div id="main_tip_newsletter">
					<form>
						<input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
					</form>
				</div>
            </div>

		</div>
	</div>


    <div id="wrapper-copyright">
		<div class="copyright">
    		<div class="copy-text object">Copyright © 2018. </div>

			<div class="wrapper-navbouton">
<!--
    			<div class="google object">g</div>
    			<div class="facebook object">f</div>
    			<div class="linkin object">i</div>
    			<div class="dribbble object">d</div>
-->
    		</div>
    	</div>
    </div>

</div>



<!-- SCRIPT -->

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
<!--	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
	<script type="text/javascript" src="js/fastclick.min.js"></script>
	<script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="js/jquery.animate-shadow-min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script>

function getLocation(cb) {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(location) {
      cb(null, location);
    });
  } else {
    cb('Error: Location services not supported on this browser.');
  }
}


var SortType = {
  relevance: function(a, b) {
    return a.distance > b.distance ? 1 : -1;
  },
  recent: function(a, b) {
    return a.created > b.created ? 1 : -1;
  },
  price: function(a, b) {
    return a.payment > b.payment ? 1 : -1;
  }
}

function timeSince(date) {

  var seconds = Math.floor((new Date() - date) / 1000);

  var interval = Math.floor(seconds / 31536000);

  if (interval > 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
  if (interval > 1) {
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
  if (interval > 1) {
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
  if (interval > 1) {
    return interval + " minutes";
  }
  return Math.floor(seconds) + " seconds";
}


var sType = SortType.relevance; // Current sort type
var jobs = [];
var largestRadius = 0;
var latitude = 0;
var longitude = 0;

function template(job) {
  if (job.image == undefined) job.image = 'img/psd-4.jpg';
  var tSince = timeSince(new Date(job.created));
  if (job.distance != undefined) tSince += ", " + job.distance + 'km away';
  return `<figure class="white">
      <a href="/job/${job._id}">
          <img class="job-image" src="${job.image}" alt="" />
          <dl>
              <dt>${job.title}</dt>
              <dd>${job.description}</dd>
          </dl>
      </a>
      <div id="wrapper-part-info">
          <div class="part-info-image"><img src="/img/new/profile-images/2.jpg" alt=""/></div>
          <div id="part-info">${job.title}
              <div class="right-data"> <h3>&euro;${job.payment}</h3> <h4>${tSince}</h4></div>
          </div>
      </div>
  </figure>`;
}

function getJobs(radius) {
  $.post("/job/list", { latitude: 0, longitude: 0, radius: radius }, function(data, status) {
    jobs = data;
    sortJobs();
  });
}

function sortJobs(sortType) {
  if (sortType) sType = sortType;
  // Sort the array
  jobs.sort(sType);
  // Clear current jobs
  var container = $('#job-container');
  container.html('');

  for (var i = 0; i < jobs.length; i++) {
    // Append to the container
    container.append(template(jobs[i]));
  }

  $('#relevance-button').removeClass('active').addClass('inactive');
  $('#recent-button').removeClass('active').addClass('inactive');
  $('#money-button').removeClass('active').addClass('inactive');

  if (sType == SortType.relevance) $('#relevance-button').removeClass('inactive').addClass('active');
  if (sType == SortType.recent) $('#recent-button').removeClass('inactive').addClass('active');
  if (sType == SortType.price) $('#money-button').removeClass('inactive').addClass('active');

  if (jobs.length == 0) {
    container.append('<p style="text-align: center">No jobs to display.</p>');
  }
}


// Load default
getJobs(10000000000);

$('#radius').change(function() {
  var val = $(this).val();
  if (val > largestRadius) {
    largestRadius = val;
    getJobs(val);
  }

  $('#radius-label').text(Math.floor(val));
});

$('input[type=range]').on('input', function () {
    $(this).trigger('change');
});


var input = document.getElementById('location-text');
autocomplete = new google.maps.places.Autocomplete(input);

</script>


</body>


</html>
