<!DOCTYPE HTML>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Community Jobs</title>

<!-- Behavioral Meta Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="img/small-logo-01.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/sort.js"></script>

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>


</head>

<body>

<!-- HEADER -->

<div id="wrapper-header">
  <div id="main-header" class="object">
    <div class="logo">
            Co.unity - <span id="title-description">helping your community help you</span>
<!--            <img src="/img/new/logo.svg" alt="logo platz" style="height: 20%;">-->
        </div>


        <div id="main_tip_search">
      <form>
        <input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required>
      </form>
    </div>

        <div id="stripes"></div>
        <a href="addjob.html"><button id="new-job" class="button">Add a job</button></a>
    </div>
</div>
<br><br><br><br><br><br><br><br>
  <img class="ui centered medium circular image" src="/img/present.gif"> <br><br>
<h1 class="ui center aligned header">

  Congratulations! You've earned a gift card!
</h1><br>

<h2 class="ui center aligned header">
  Which one would you like?
</h2><br>

<div class="ui link centered cards">
  <div class="card">
    <div class="image">
      <img src="/img/present">
    </div>
    <div class="content">
      <div class="header">Matt Giampietro</div>
      <div class="meta">
        <a>Friends</a>
      </div>
      <div class="description">
        Matthew is an interior designer living in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/molly.png">
    </div>
    <div class="content">
      <div class="header">Molly</div>
      <div class="meta">
        <span class="date">Coworker</span>
      </div>
      <div class="description">
        Molly is a personal assistant living in Paris.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2011
      </span>
      <span>
        <i class="user icon"></i>
        35 Friends
      </span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/elyse.png">
    </div>
    <div class="content">
      <div class="header">Elyse</div>
      <div class="meta">
        <a>Coworker</a>
      </div>
      <div class="description">
        Elyse is a copywriter working in New York.
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Joined in 2014
      </span>
      <span>
        <i class="user icon"></i>
        151 Friends
      </span>
    </div>
  </div>

  <div id="main-container-footer">
    <div class="container-footer">

            <div id="row-1f">
              <div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">What we do</span><br>We aim to foster social inclusion within our local communities by providing temporary jobs to those who need them.</div>
            </div>

            <div id="row-2f">
              <div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">See a job you like?</span><br>Claim it and complete it, and you'll get a gift card for your the great work you did!</div>
            </div>

            <div id="row-3f">
              <div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Need a job done?</span><br>Create a job and someone in your community will be at your aid!</div>
            </div>

            <div id="row-4f">
              <div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Newsletter</span><br>You will be informed monthly about the latest content avalaible.</div>

        <div id="main_tip_newsletter">
          <form>
            <input type="text" name="newsletter" id="tip_newsletter_input" list="newsletter" autocomplete=off required>
          </form>
        </div>
            </div>

    </div>
  </div>


</body>

<!-- SCRIPT -->

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
<!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
  <script type="text/javascript" src="js/fastclick.min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-shadow-min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script>


</html>
