<!DOCTYPE HTML>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Community Jobs</title>

<!-- Behavioral Meta Data -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="img/small-logo-01.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,900italic,700italic,700,500italic,400italic,500,300italic,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='/style.css' rel='stylesheet' type='text/css'>
    <script src="/js/sort.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="/semantic/dist/semantic.min.js"></script>

</head>

<body>

<!-- HEADER -->

<div id="wrapper-header">
  <div id="main-header" class="object">
    <div class="logo">
            Co.unity - <span id="title-description">helping your community help you</span>
<!--            <img src="/img/new/logo.svg" alt="logo platz" style="height: 20%;">-->
        </div>


        <div id="main_tip_search">
      <form>
        <input type="text" name="search" id="tip_search_input" list="search" autocomplete=off required>
      </form>
    </div>

        <div id="stripes"></div>
        <a href="reward"><button style="width:140px; margin-right:60px" class="button" >Job reward</button></a>
    </div>
</div>
<br><br><br><br><br><br>
  <img class="ui centered medium circular image" src="/img/present.gif"> <br><br>
<h1 class="ui center aligned header">

  Congratulations! You've earned a gift card!
</h1><br>

<h2 class="ui large center aligned header">
  Your balance is €20. Which one would you like? 
</h2><br>

<!-- Although these gift certificates are statically coded, we did look into APIs which provide gift card services like 
https://www.lightrail.com however, because theses applications require us to contact their sales team 
to use their application, it wasn't feasible to integrate it for the hackathon. -->

<div class="ui link centered cards">
  <div class="small card" >
    <div class="ui small centered image" style="height:150px;" >
      <img src="/img/logo_carrefour.png" style="height:150px;" >
    </div>
    <div class="content">
      <div class="header">Carrefour</div> 
      <div class="meta">
        Supermarket - <i class="map icon"></i> 0.3 km Northeast
      </div>
      <div class="description">
        Common purchases include
        <ul class="ui list">
          <li><b>€1</b> Pasta sfoglia</li>
          <li><b>€3</b> Acqua naturale</li>
        </ul>
      </div>
    </div>
    <button onclick="window.open('/img/carrefour.pdf')" class="ui bottom attached basic green button">
      <i class="gift icon"></i>
      Claim
    </button>
  </div>
  <div class="small card">
    <div class="ui small centered image" style="height:150px;">
      <img src="/img/logo_pam.jpeg" style="height:150px;">
    </div>
    <div class="content">
      <div class="header">Pam Panorama</div>
      <div class="meta">
        Groceries - <i class="map icon"></i> 0.7 km South
      </div>
      <div class="description">
        Common purchases include
        <ul class="ui list">
          <li><b>€1</b> Coffee</li>
          <li><b>€3</b> Umbrella</li>
        </ul>
      </div>
    </div>
    <button onclick="window.open('/img/pam.pdf')" class="ui bottom attached basic green button">
      <i class="gift icon"></i>
      Claim
    </button>
  </div>
  <div class="small card">
    <div class="ui small centered image" style="height:150px;">
      <img src="/img/logo_coop.png" style="height:150px;">
    </div>
    <div class="content">
      <div class="header">Coop</div>
      <div class="meta">
        Supermarket - <i class="map icon"></i> 0.9 km West
      </div>
      <div class="description">
        Common purchases include
        <ul class="ui list">
          <li><b>€4</b> Wool Blanket</li>
          <li><b>€3</b> Acqua naturale</li>
        </ul>
      </div>
    </div>
    <button onclick="window.open('/img/coop.pdf')"  class="ui bottom attached basic green button">
      <i class="gift icon"></i>
      Claim
    </button>
  </div>
</div>

<!-- SCRIPT -->

    <script type="text/javascript" src="js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
  <script type="text/javascript" src="js/fastclick.min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-colors-min.js"></script>
  <script type="text/javascript" src="js/jquery.animate-shadow-min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <script>


</html>
